* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(232, 233, 235);
}

.menu {
  display: flex;
  justify-content:  flex-end;
  padding: 30px 30px 0 0;
}

nav {
  display: flex;
  flex-direction: row;
}

p a{
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 20px;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-family: 'Satisfy', cursive;
}

h1 {
  padding: 0 0 100px 100px;
  font-size: 60px;
}

.buffering {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  
}

img:hover {
  animation: rotation 2s infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    to {
      transform: rotate(359deg);
    }




