@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}


.education-section {
  display: flex;
  align-items: center;
}

.education h4 {
  font-size: 1.4em;
  padding: 10px 0;
}

.about-container,
.experience-container, 
.projects-container,
.contact-container {
   position:relative; 
  }

.about-container span, 
.experience-container span,
.projects-container span,
.contact-container span { 
  position:absolute; 
  top: -100px;
}


.skill-icon .fab {
  @media only screen and (min-width: 768px) {
    font-size: 70px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 50px;
  }
  
}


.icons-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;

  .skill-icon {
    text-align: center;

    h5 {
      margin-top: -10px;
      font-size: 1.5em;
    }
  }
}

i {
  margin: 20px;
}
@media only screen and (min-width: 768px) {
  h2 {
    margin-left: 40px;
    font-size: 2em;
    font-weight: 500;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.effect-marley {
  visibility: hidden;
  color: white;
  width: 100%;
}

.project-card:hover .effect-marley {
  visibility: visible;
}

.overlay:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: rgba(12, 12, 12, 0.815);
  height: 200px;
}

.overlay h4 a:hover {
  color: yellow;
  text-decoration: none;
}

.effect-marley p {
  font-size: 14px;
  right: 30px;
  left: 30px;
  padding: 10px 0;
  padding: 0 15px;
  bottom: 30px;
  line-height: 1.5;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.effect-marley #h2 {
  padding-top: 30px;
  margin-left: 50px;
  font-size: 24px;
  top: 30px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

a {
  color: white;
  text-decoration: none;
}

.effect-marley:hover #h2 {
  cursor: pointer;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.effect-marley #h2::after {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: -20px;
  right: 20px;
  height: 3px;
  background: yellow;
  content: '';
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}

p {
  margin-top: 30px;
}

.effect-marley #h2::after,
.effect-marley p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.effect-marley:hover #h2::after,
.effect-marley:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

h3 {
  text-align: center;
  font-size: 2.8em;
  font-weight: 400;
}

.main-container {
  
  .img-background {
    @media only screen and (max-width: 767px) {
      height: 80vh;
    }
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;


    .overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      background-color: rgba(255, 255, 255, .7);
  

      .description {
        display: flex;
        align-items: center;
        line-height: 60px;
        flex-direction: column;
        margin-top: 250px;
        @media only screen and (min-width: 768px) {
          width: 60vw;
        }
        

        .logo {
          width: 80px;
          height: 80px;
          margin-bottom: 20px;
        }
        @media only screen and (min-width: 768px) {        
          h2 {
          color: black;
          font-size: 2.5em;
          font-weight: 400;
        }
}

        .border-line {
          margin-top: 10px;
          width: 35%;
          height: 3px;
          background-color: yellow;
        }
      }
    }
  }

  .about-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .personal-bio h4 {
      margin-top: 30px;
      @media only screen and (min-width: 768px) {
        align-self: flex-start;
      }
      font-size: 1.8em;
    }
    
    .personal-bio {
      @media (min-width: 768px) {
        width: 60vw;
      }
      display: flex;
      flex-direction: column;
      align-items: center;

      h5 {
        font-size: 1.4em;
        margin: 25px 0 5px 0;
        @media only screen and (min-width: 768px) {
          align-self: flex-start;
        }
        
      }

      .advice {
        align-self: flex-start;
        margin-bottom: 5px;
        font-size: 1.2em;
        font-weight: 500;
      }
      
      .about {
        display: flex;
        flex-direction: column;    
        align-self: flex-start;
        
        h3 {
          text-align: center;
        }
      }

      .border-line {
        margin: 10px 0;
        align-self: flex-start;
        height: 3px;
        width: 150px;
        background-color: yellow;
      }

      p {
        margin: 0;
      }

      .skills-education-container {
        margin: 80px 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .skills-education-section { 
          width: 200px;
          margin: 0 auto;

          h4 {
            text-align: center;
          }
        }

        .skills, .education {
         margin: 0 auto;
          background-position: center;
          background-repeat: no-repeat;
          width: 100px;
          height: 100px;
          cursor: pointer;

         h4 {
           display: inline-block;
           margin-top: 70px;
           text-align: center;
           color: blue;
         }

          &:hover {
            transition: background-color 0.6s ease-in-out;
            border-radius: 10px;
            border: 1.5px solid black;
            background-color: yellow;
          }
        }
      }
    }
  
  }

  .experience-container {
    background-repeat: no-repeat;
    background-size: cover;

    .second-overlay {
      @media only screen and (max-width: 768px) {
        padding: 0 15px;
      }
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);

      .experience-title {
        @media only screen and  (min-width: 768px) {
          margin-left: 25%;
        }
        padding-top: 60px;
        display: flex;
        flex-direction: column;        
        width: 280px;
      
      h3 {
          text-align: center;
          color: white;
        }

        .border-line {
          margin: 10px 0;
          align-self: flex-start;
          height: 3px;
          width: 100%;
          background-color: yellow;
        }
      }  

      .experience-section {
        margin: 0 auto;
        padding: 30px 0 60px 0;
        @media only screen and (min-width: 768px) {
          width: 70vw;
        }
        
        @media only screen and (min-width: 1450px) {

            width: 50vw;
        }


        .experience-content {
          margin-top: 3em;
          position: relative;
          @media only screen and (max-width: 767px) {
            text-align: center;
          }

          &:nth-of-type(1) {
            margin-top: 0;
          }

          .fa-angle-double-right {
            position: absolute;
            top: -20px;
            left: -70px;
            color: yellow
          }

          h4 {
            font-size: 1.4rem;
            color: white;
          }

          p {
            margin-top: 0;
            font-size: 1rem;
            color: white;
          }
        }
      }      
    }
  }

  .projects-container {
    padding-bottom: 70px;
    background-color: rgba(240, 238, 235, 0.226);

    .projects-inner-container {
      margin: 0 auto;
      @media only screen and (max-width: 767px) {
        padding: 0 15px;
      }
      @media only screen and (min-width: 768px) {
        width: 80vw;
      }
      height: 100%;

      .projects-title {
        @media only screen and (min-width: 768px) {
          margin-left: 25%;
        }
        
        padding-top: 60px;
        display: flex;
        flex-direction: column;        
        width: 200px;

        h3 {
          text-align: center;
        }

        .border-line {
          margin: 10px 0;
          height: 3px;
          width: 100%;
          background-color: yellow;
        }
      }



      .projects-section {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        .project-card {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
          margin: 20px;
          width: 400px;
          height: 200px;
          background-size: cover;
        }
      }
    }
  }

  .contact-container {
    @media only screen and (max-width: 767px) {
      padding: 0 15px;
    }
    height: 80vh;

    .contact-border {
      padding-top: 100px;
      width: 200px;
      @media only screen and (min-width: 768px) {
        margin-left: 20%;
      }
      
      margin-bottom: 40px;

      h3 {
        text-align: center;
      }

      .border-line {
        margin: 15px 0;
        height: 3px;
        width: 100%;
        background-color: yellow;
      }
    }

    .contact-section {
      display: flex;
      @media only screen and (min-width: 768px) {
        margin-left: 20%;
      }
      

      a {
        display: flex;
        text-decoration: none;
        color: black;
            
        h4 {
          position: relative;
          margin-left: 10px;
          font-size: 1.3em;
          line-height: 72px;
          font-weight: 500;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 100%;
            height: 3px;
            background-color: yellow;

            transform-origin: right;
            transform: scale(0);
            transition: transform 500ms ease-in;
          }

          &:hover::after {
            transform: scale(1);
            transform-origin: left;
          }
        }
      }
    }
  }

  footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: rgba(240, 238, 235, 0.226);


    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: yellow;

    }

  }
}

// ===Nav Bar Desktop===
@media only screen and (min-width: 768px) {
  .scrolled {
    position: fixed;
    transition: background-color 0.6s ease-in-out;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 5px 20px rgba(0,0,0,0.15), 
                0 3px 5px rgba(0,0,0,0.15); 
  }
  

  .container-navbar {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    
  
    ul {
      margin: 0;
      display: flex;
      align-content: center;
      
      .underline {
        border-bottom: 3px solid yellow;
      }

      li {
        padding: 10px;
        list-style: none;
        margin-top: 10px;

        

        a {
          position: relative;
          padding: 0px 5px 5px 5px;
          text-decoration: none;
          color: black;
          font-size: 1.3rem;
  
          
          

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 3px;
            background-color: yellow;
            transform-origin: right;
            transform: scale(0);
            transition: transform 300ms ease-in;
          }

          &:hover::after {
            transform: scale(1);
            transform-origin: left;
          }
        }


      }
    }
  }
}



// ===Mobile Nav Bar
@media only screen and (max-width: 767px) {
  .scrolled {
    display: none;
  }
  .underline {
    height: 100%;
    background-color: yellow;
    border-radius: 5px;
  }

  .container-navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;



    ul {
      margin-top: 60px;
      visibility: hidden;
      align-items: center;
      flex-direction: column;
      width: 100%;
      border-bottom: none;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
      transform: translateY(-100%);
      transition: all 500ms ease-out;
    }

    .active {
      visibility: visible;
      transform: translateY(0);
      transition: transform 500ms ease-out;
    }

    .open {
      &:first-child {
        transform: translateY(9px) rotateZ(45deg);
        transition: 500ms all ease-in-out;
      }
      &:nth-child(2) {
        opacity: 0;
        transition: 500ms all ease-in-out;
        transform: translateX(-12px);
      }
      &:last-child {
        transform: translateY(-9px) rotateZ(-45deg);
        transition: 500ms all ease-in-out;
      }
    }  
    
    li {
      height: 50px;
      width: 100%;
      list-style: none;
      text-align: center;
      line-height: 50px;

      &:last-child {
        padding-bottom: 10px;
      }


    
    a {
      color: black;
      font-size: 1.5em;
      text-decoration: none;
    }
  }
  }


    .toggle-button {
      z-index: 2;
      position: fixed;
      top: 0;
      right: 20px;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      width: 100%;
      height: 60px;
      background-color: rgb(48, 48, 48);
      




      .bar {
        margin: 3px 1rem;
        height: 3px;
        width: 30px;
        background-color: white;
        border-radius: 10px;
        transition: .7s all ease-in-out;

        &:first-child {
          margin-top: 20px;
        }

        &:first-child:active {
          transform: translate();
        }
      }
    }
  

.description {
  h2 {
    font-size: 1.8em;

  }
}

.personal-bio {
  text-align: center;
  padding: 0 15px;
  width: 100vw;
}

}


// ===Experience section arrow right display none===
@media only screen and (max-width: 767px) {
  .fa-angle-double-right {
    display: none;
  }
}